<div class="content-menu">
  <div class="content-menu-header">
    <div class="label-font">
      <i class="far fa-calendar-check fa-lg"></i>
      <%= day_of_the_week(workout.week_id) %>
      <span class="mx-2"><%= workout.title %></span>
    </div>
  </div>
  <span class="sm-font">
    <%= simple_format workout.menu %>
  </span>
</div>
