// margin打ち消し
.slider.slick-initialized.slick-slider.slick-dotted{
  margin-bottom: 0px;
}
// 矢印カスタム
button.slick-prev.slick-arrow{
  margin-left: 30px;
  opacity: 0.7;
  z-index: 2;
}
button.slick-next.slick-arrow{
  margin-right: 30px;
  opacity: 0.7;
}
// ドットカスタム
ul.slick-dots {
  bottom: -30px;
  li{
    width: 10px;
  }
}
// アクティブドットカラーカスタム
.slick-dots li.slick-active button:before{
  color: #3897f0 !important;
  opacity: 1 !important;
}
.slick-dots li button:before{
  color: #dbdbdb !important;
  opacity: 1 !important;
}
