// ヘッダー
.site-header{
  height: 78px;
  width: 100%;
  background-color:#FFF;
  border-bottom: 1px solid #dee2e6;
  position: sticky;
  top: 0;
  z-index: 1020;
  transition: .4s;
}
.header-animation{
  height: 53px;
  .user-image-icon{
    width: 32px;
    height: 32px;
  }
  a.header-logo{
    font-size: 26px;
  }
  .fmy-lg{
    font-size: 1.25em;
  }
}
.header-nav{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
.logo-box{
  margin-top: 6px;
}
.icon-box{
  margin-top: 4px;
}
a.header-logo{
  color: #262626;
  font-size: 36px;
  font-family: 'Billabong';
  transition: .4s;
}
// フッター
footer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  span{
    display: block;
    font-size: 12px;
    color: #999;
  }
}
// ユーザーアイコン
.user-image-icon{
  object-fit: cover;
  width: 46px;
  height: 46px;
  border: 1px solid #C1BFC0;
  border-radius: 50%;
  transition: .4s;
}
.user-image-icon-sm{
  object-fit: cover;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #C1BFC0;
}
// ユーザーアイコン画像プレビュー
#user-image{
  object-fit: cover;
  width: 150px;
  height: 150px;
  border: 1px solid #C1BFC0;
  border-radius: 50%;
}
// 投稿時の画像プレビュー
#before-preview, #after-preview{
  width: 100%;
  height: auto;
}
// 境界線
.my-border{
  border-top: 1px solid #efefef;
  margin: 0px auto 10px;
  width: 95%;
}
.my-border2{
  border-top: 1px solid #efefef;
  margin: 30px auto;
}
// devise画面下リンクボタン
.more_link_box a{
  border: 1px solid;
  border-radius: 5px;
  display: block;
  margin: 10px;
  width: 70%;
  padding: 5px;
}
// いいねボタン
.like_button,.bookmark_button{
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
// いいねアニメーション
.like_button .fa-heart{
  animation: heartAnime 200ms;
}

@keyframes heartAnime{
  0% {transform: scale(1);}
  11% {transform: scale(1.1, 1.1);}
  22% {transform: scale(1.2, 1.2);}
  33% {transform: scale(1.2, 1.2);}
  44% {transform: scale(1.3, 1.3);}
  55% {transform: scale(1.3, 1.3);}
  66% {transform: scale(1.2, 1.2);}
  77% {transform: scale(1.2, 1.2);}
  88% {transform: scale(1.1, 1.1);}
  100% {transform: scale(1);}
}
//オリジナルラベル
.form-label{
  font-size: 12px;
  color: #999;
  position: absolute;
  top: 10px;
  left: 8px;
  transition: .1s;
}
// ラベルアニメーション
.label-animation{
  font-size: 10px;
  top: 3px;
}
// オリジナルフォーム
.form-x{
  display: block;
  width: 100%;
  height: 38px;
  padding: 9px 0 8px 8px;
  font-size: 14px;
  line-height: 1.5;
  color: #262626;
  background-color: #FAFAFA;
  background-clip: padding-box;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  transition: .1s;
}
// 入力フォームラベルアニメーション
.form-animation{
  font-size: 12px;
  padding: 14px 0 2px 8px;
}
// 新規登録画面モックレイアウト
.moc-sample{
  position: relative;
  margin-right: 8px;
}
.moc-sample-img{
  position: absolute;
  top: 8px;
  left: 90px;
}
.moc-sample-img2{
  position: absolute;
  top: 0;
  right: 100px;
}
.moc-img{
  height: 100%;
  width: 100%;
}
// 要素非表示
.none{
  display: none;
}