<div class="content-menu">
  <div class="content-menu-header">
    <div class="label-font">
      <i class="fas fa-utensils"></i>
      <span class="mx-1"><%= meal.title %></span>
    </div>
  </div>
  <span class="sm-font">
    <%= simple_format meal.menu %>
  </span>
</div>
