// フォント/装飾

h4{
  font-weight: 600;
  font-size: 18px;
}

.pointer{
  cursor: pointer;
}

.fw{
  font-weight: 600;
}

.my-black{
  color: #4b4b4b;
}

.work-font{
  color: #0070BF;
}

.meal-font{
  color: #29A745;
}

.work-link-font, a.work-link-font{
  color: #0070BF;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.user-name, a.user-name{
  color: #262626;
  font-weight: 600;
  font-size: 12px;
}

.modal-font, a.modal-font:hover{
  color: #262626;
  font-size: 14px;
}

.label-font, a.label-font:hover{
  color: #262626;
  font-weight: 600;
  font-size: 14px;
}

.label-border, a.label-border:hover{
  color: #262626;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 5px 25px;
  cursor: pointer;
}

.link-font, a.link-font{
  color: #3897F0;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.link-border{
  color: #3897F0;
  font-weight: 600;
  font-size: 13px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

.title-border{
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 5px;
  max-width: 240px;
}

.xs-font{
  font-size: 12px;
}

.s-font{
  font-size: 14px;
}

.sm-font{
  font-size: 15px;
}

.m-font{
  font-size: 16px;
}

.title-font{
  font-weight: 600;
  font-size: 18px;
}

.l-font{
  font-size: 18px;
}

.xl-font{
  font-size: 20px;
}

.denger-link, a.denger-link:hover{
  font-weight: 600;
  font-size: 14px;
  color: #ed4956;
}

.denger-round{
  color: #ed4956;
  font-weight: 600;
  border: 2px solid;
  border-radius: 4px;
  padding: 2px 4px;
}

.form-font{
  color: #4F4F4F;
  font-weight: 600;
}

.field_with_errors .form-control{
  border: 2px solid #ed4956;
}
