// 共通設定

body{
  background-color:#FAFAFA;
  color: #262626;
  font-family: -apple-system,BlinkMacSystemFont,
  "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

time{
  font-size: 10px;
  color: #999;
}

details{
  width: 100%;
  margin-top: 8px;
}

summary{
  color: transparent;
}

summary span{
  font-size: 14px;
  color: #999;
  font-weight: 500;
  list-style: none;
}

ul{
  list-style-type: none;
}

a:hover{
  text-decoration: none;
}

// フッター固定
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  margin-bottom: 40px;
}
