// モック画面表示ブレークポイント
@media (max-width: 992px){
  .moc-sample{
    display: none;
  }
}

// スマートフォン画面
@media (max-width: 576px){
  body{
    background-color:#FFF;
  }
  // ヘッダー
  .site-header{
    height: 75px;
  }
  .header-animation{
    height: 50px;
    a.header-logo{
      font-size: 26px;
    }
  }
  // フッター
  footer{
    height: 50px;
    span{
      font-size: 10px;
    }
  }
  // フォント
  .user-show{
    margin: 20px 0;
  }
  .user-name-show{
    font-size: 20px;
    margin: 3px 0;
  }
  .user-image-show{
    margin-right: 25px;
  }
  // ユーザー画像アイコン
  #user-image{
    width: 78px;
    height: 78px;
  }
  // レイアウト
  .user-edit{
    margin-top: 0;
    margin-bottom: 20px;
    padding: 15px;
    border: none;
  }
  .content-show-main{
    background-color:#FFF;
    border: none;
  }
  .mt-6{
    margin-top: 10px;
  }
  // ユーザーマイページ下部コンテンツレイアウト
  .row.x{
    margin-right: -6px;
    margin-left: -6px;
  }
  .row.x .col-4{
    padding: 0 2px 0 2px;
    margin-bottom: 4px;
  }
  .my-border2{
    margin: 20px auto;
  }
  // indexページのコメントフォーム非表示
  #mobile-none{
    display: none;
  }
  // アラートサイズカスタム
  .alert{
    font-size: 13px;
    padding: 0.25rem 1rem;
  }
  // devise関連画面のボーダー
  .devise-border, .devise-border-box{
    border: none;
  }
}
