// ユーザーページ
.user-show{
  width: 100%;
  max-width: 680px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0 7px;
}

.user-image-show{
  margin-right: 60px;
  text-align: center;
}

.user-show-right{
  display: flex;
  flex-direction: column;
}

.user-name-show{
  font-size: 24px;
  margin: 8px 0;
}

.profile-nav{
  margin-bottom: 2px;
  font-size: 14px;
}

.user-profile{
  max-width: 500px;
  height: auto;
  margin: 10px 0;
  padding: 0 7px;
}

.user-edit{
  width: 100%;
  max-width: 680px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 60px auto;
  padding: 20px 0;
  justify-content: center;
}

.user-edit-right{
  margin: auto 0;
  width: 340px;
}

.user-show-img-index{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-show-nav{
  border-top: 1px solid #efefef;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #999;
}

.nav-button{
  height: 54px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

// ユーザーshowページ下部レイアウト
.row.x{
  margin-right: -25px;
  margin-left: -25px;
}
.row.x .col-4{
  padding: 0 14px 0 14px;
  margin-bottom: 28px;
}
#show_comments{
  width: 100%;
}
#user_bookmark_image,#user_bookmark_image_paginate{
  display: none;
}
.nav-button{
  height: 54px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.active-top{
  border-top: 1px solid #262626;
  color: #262626
}