/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";


body{
  background-color:#FAFAFA;
  font-family:'Lato', 'Noto Sans JP', '游ゴシック Medium',
              '游ゴシック体', 'Yu Gothic Medium', YuGothic,
              'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN',
              'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

a:hover{
text-decoration: none;
}

p#notice{
  display:none;
}

h2.title{
  margin: 30px auto 20px;
}

.navbar-expand-lg{
  height: 80px;
}

.navbar-brand img{
  padding-top: 8px;
}

.nav-link{
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px
}

.btn-block{
  max-width: 330px;
  margin: auto;
}

.form-group{
  max-width: 330px;
  margin: 12px auto;
}

.more_link_box a{
  border: 1px solid;
  border-radius: 5px;
  display: block;
  margin: 25px auto 10px;
  max-width: 135px;
  padding: 5px 10px;
}

.more_link_box .new_account{
  border: 1px solid;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  max-width: 250px;
  padding: 5px 10px;
}
