/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body{
  background-color:#FAFAFA;
  color: #262626;
  font-family: -apple-system,BlinkMacSystemFont,
  "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

ul{
  list-style-type: none;
}

h4{
  font-weight: 600;
  font-size: 18px;
}

.my-black{
  color: #5e5e5e;
}

.label-font{
  color: #262626;
  font-weight: 600;
  font-size: 14px;
}

.form-font{
  color: #4F4F4F;
  font-weight: 600;
}

.link-font{
  color: #3897F0;
  font-weight: 600;
  font-size: 14px;
}

.link-border{
  color: #3897F0;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 8px;
}

.work-font{
  color: #0070BF;
}

.meal-font{
  color: #FFDD33;
}

.title-font{
  font-weight: 600;
  font-size: 18px;
}

.denger-link {
  font-weight: 600;
  font-size: 12px;
  color: #ed4956;
  a{
    color: #ed4956;
  }
}

a:hover{
  text-decoration: none;
  color: none;
}

a.label-font:hover{
  color: #262626;
}

a.link-font{
  color: #3897F0;
}

a.denger-link:hover{
  color: #ed4956;
}

.btn:hover{
  text-decoration: none;
}

.site-header{
  height: 77px;
  width: 100%;
  background-color:#FFF;
  border-bottom: 1px solid #dee2e6;
}

.header-nav{
  margin: auto;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header-content{
  margin: auto 0px;
  margin-right: 10px;
}

.header-logo img{
  margin-top: 8px;
  width: 230px;
  height: 45px;
}

.main-content{
  margin-bottom: 50px;
}

.user-image-icon{
  object-fit: cover;
  width: 50px;
  height: 50px;
  border: 1px solid #C1BFC0;
  border-radius: 50%;
}

.user-image-icon-sm{
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #C1BFC0;
  margin: 7px 15px;
}

#user-image{
  object-fit: cover;
  width: 150px;
  height: 150px;
  border: 1px solid #C1BFC0;
  border-radius: 50%;
}

.show-preview{
  object-fit: cover;
  width: 360px;
  height: 360px;
}

#before-preview{
  width: 100%;
  height: auto;
}

#after-preview{
  width: 100%;
  height: auto;
}

.user-name{
  font-weight: 600;
  font-size: 14px;
}

.form-group{
  margin: 12px auto;
}

.more_link_box a{
  border: 1px solid;
  border-radius: 5px;
  display: block;
  margin: 25px auto 10px;
  width: 70%;
  padding: 5px;
}

.user-show{
  width: 100%;
  max-width: 680px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.user-image-show{
  margin: 20px 50px 20px 0;
  text-align: center;
}

.user-show-right{
  display: flex;
  flex-direction: column;
}

.user-name-show{
  font-size: 24px;
  margin: 30px 0 15px;
}

.user-profile{
  max-width: 500px;
  height: auto;
  margin: 20px 0;
  padding: 0 7px;
  p{
    font-size: 15px;
  }
}

.user-edit{
  width: 100%;
  max-width: 760px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-top: 60px;
  padding: 20px 0;
  justify-content: center;
}

.user-edit-right{
  margin: auto 0;
  width: 340px;
}

.header-user{
  width: 720px;
  height: 55px;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 5px;
  margin: 0 auto;
  display: flex;
}

.content-show-img{
  width: 720px;
  height: 360px;
  margin: 0 auto;
  display: flex;
}

.content-show-t{
  width: 720px;
  min-height: 90px;
  max-height: 100%;
  border: 1px solid #dbdbdb;
  border-top: none;
  border-bottom: none;
  padding: 12px;
  margin: 0 auto;
  display: flex;
}

.content-show-b{
  width: 720px;
  min-height: 90px;
  max-height: 100%;
  border: 1px solid #dbdbdb;
  border-top: none;
  border-radius: 0 0 3px 3px;
  padding: 12px;
  margin: 0 auto 100px;
}


@media (min-width: 1200px) , (max-width: 1200px) {
  .container, .container-fluid {
    min-width: 320px;
    max-width: 760px;
  }
}

@media (max-width: 576px) {

  .header-logo img{
    width: 184px;
    height: 36px;
  }

  .user-name-show{
    font-size: 20px;
    margin: 20px 0 10px;
  }

  .user-image-show{
    margin: 20px 20px 0 8px;
  }

  .user-profile{
    p{
      font-size: 14px;
    }
  }

  #user-image{
    width: 80px;
    height: 80px;
  }

  .user-image-icon{
    width: 40px;
    height: 40px;
  }

  .user-edit{
    margin-top: 15px;
    padding: 15px;
  }
}
