<p>ようこそ<%= @email %>さん</p>

<p>下記リンクをクリックしてアカウント登録を完了させて下さい</p>

<p><%= link_to 'アカウントを登録する', confirmation_url(@resource, confirmation_token: @token) %></p>

<br />
<p>&copy; 2019 fitness innovator</p>
