<p><%= @resource.email %>さん</p>

<p>パスワードの再設定は下記リンクより行うことができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>上記のリンクから新しいパスワードを作成するまで、パスワードは変更されません。</p>
<br />
<p>&copy; 2019 fitness innovator</p>
