<% unless current_user %>
  <div class="alert error-alert-custom" id="like_button-alert" role="alert">
    <span>「いいね！」をするためにはログインして下さい</span>
  </div>
  <div class="alert error-alert-custom" id="bookmark_button-alert" role="alert">
    <span>「お気に入りに保存」をするためにはログインして下さい</span>
  </div>
<% end %>
<% if notice %>
  <div class="alert alert-custom" id="alert-notice" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-mydanger" role="alert">
    <%= alert %>
  </div>
<% end %>
